!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Meltdown
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.bg-color
    .continer
      = render 'layouts/header'
      #flash-message
        - flash.each do |key, value|
          - key = 'success' if key == 'notice'
          - if value.is_a?(Array)
            - value.each do |v|
              = content_tag :div, v, class: "row alert alert-#{key}"
          - else
            = content_tag :div, value, class: "row alert alert-#{key}"
      .row.justify-content-center
        .col-md-11.col-lg-9
          = yield
